body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000000;
    background-image: url("../img/med.jpg");
    color: white;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}


#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#nextgame {
    width: 150px;
    height: 30px;
    font-size: 20px;
}

#results {
    font-size: 40px;
    font-weight: bold;
    height: 40px;
}

@media screen and (max-width: 576px){
    /*SP 時の CSS をここに記入 */
    #dealer-cards img {
        height: 112px;
        width: 80px;
        margin: 1px;
    }
    
    #your-cards img {
        height: 112px;
        width: 80px;
        margin: 1px;
    }
 }